Oak=input("Oak: Hello there! Welcome to the world of POKEMON! My name is OAK!People call me the POKEMON PROF!")
print("Oak: This world is inhabited by creatures called POKEMON! For some people, POKEMON are pets. Others use them for fights. Myself...I study POKEMON as a profession.")
print("Oak: First, what is your name?")
name1= input(" ")
print("Oak: Right! So your name is"+ name1)
print("Oak: This is my grandson. He's been your rival since you were a baby....Erm, what is his name again?")
name2=input (" ")
print("Oak: That's right! I remember now! His name is"+ name2+"!")
print("Oak:"+name1+"!" "Your very own POKEMON legend is about to unfold! A world of dreams and adventures with POKEMON awaits! Let's go!")




num = int(input("choose number wisely"))
x = 0
while(x<num):
    y = 0
    while(y<num):
        y= 1+y
    x = 1+x

    print("."x)
